<%- layout('template') -%>
<h2><%= err.status %> - <%= err.message %></h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ipsa unde, quidem similique placeat qui quaerat mollitia ex consectetur iure, quas, illo recusandae minima obcaecati repudiandae corrupti culpa doloremque. Atque.</p>
<a href="/">
Go back to homepage</a>
